/*
/.**

!/.bashrc
!/.bash_profile
!/.tmux.conf
!/.gitignore
!/Dockerfile
!/README.md

!/.config
!/.config/nvim
!/.config/nvim/**
!/.config/kitty
!/.config/kitty/**
!/.config/starship.toml
!/.config/git
!/.config/git/**
!/.config/bash
!/.config/bash/**

!/.bin
!/.bin/install.sh
!/.bin/dockerprune.sh
!/.bin/nvimclean.sh
!/.bin/setdisplay.sh
!/.bin/claude-cleaner.sh

!/.gitattributes

!/.ssh
!/.ssh/config
