/*
/.**

!/.bashrc
!/.bash_profile
!/.tmux.conf
!/.gitignore
!/Dockerfile
!/README.md

!/.config
!/.config/nvim
!/.config/nvim/**
!/.config/kitty
!/.config/kitty/**
!/.config/starship.toml

!/.bash_aliases
!/.bash_aliases/.linux_command
!/.bash_boot_scripts
!/.bash_boot_scripts/welcome.sh

!/.bin
!/.bin/install.sh
!/.bin/dockerprune.sh
!/.bin/nvimclean.sh

!/.skk
!/.skk/SKK-JISYO.L

!/.gitattributes

!/.ssh
!/.ssh/**
