*
.**
!*/

!/.gitignore
!/README.md
!/Makefile

!/bash/
!/bash/.config/
!/bash/.bashrc
!/bash/.bash_profile
!/bash/.config/bash
!/bash/.config/bash/aliases
!/bash/.config/bash/aliases/**
!/bash/.config/bash/scripts
!/bash/.config/bash/scripts/**
!/bash/.config/bash/shell
!/bash/.config/bash/shell/paths
!/bash/.config/bash/shell/env
!/bash/.config/bash/shell/env/env
!/bash/.config/bash/shell/env/common.env
!/bash/.config/bash/shell/env/local.env.secret
!/bash/.config/bash/software
!/bash/.config/bash/software/**
!/bash/.config/bash/system
!/bash/.config/bash/system/**

!/bin/
!/bin/.local
!/bin/.local/bin/**

!/llm/
!/llm/.claude/
!/llm/.claude/settings.json

!llm/.gemini/
!/llm/.gemini/settings.json

!/llm/.local/prompts/**


!/git/
!/git/.config/
!/git/.config/git/
!/git/.config/git/ignore

!/.gitsecret/
!/.gitsecret/keys
!/.gitsecret/keys/pubring.kbx
!/.gitsecret/keys/trustdb.gpg
!/.gitsecret/paths/
!/.gitsecret/paths/mapping.cfg

!/nvim/
!/nvim/.config/
!/nvim/.config/nvim/**

!/ssh/
!/ssh/.ssh/
!/ssh/.ssh/config
!/ssh/.ssh/github.pub
!/ssh/.ssh/github.secret

!/starship/
!/starship/.config/
!/starship/.config/starship.toml

!/local/
!/local/.local/

!/prompts/.local/prompts/**
!/bin/.local/bin/**


!/setup/
!/setup/setup.sh
gemini/.gemini/settings.json
.gitsecret/keys/random_seed
!*.secret
